*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-left: -80px;
    margin-right: -80px;
    margin-bottom: -50px;
    
    
}

.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 10px;
    margin-right: 10px;
}

.social-icon {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;

    &:hover {
        color: #150442;
        /* Cambia el color al pasar el mouse */
    }
}
.facebook{
    color: blue;
}

.twitter{
    color: yellow;
}
.instagram{
    color: purple;
}
.linkedin{
    color: lightblue;
}


@media (min-width: 320px){
    .footer {
        background-color: #333;
        color: white;
        text-align: center;
        margin-left: -80px;
        margin-right: -80px;
        margin-bottom: -50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        
    }
}
@media (min-width: 768px){
    
}
@media (min-width: 990px){
    .footer {
        background-color: #333;
        color: white;
        text-align: center;
        margin-left: -80px;
        margin-right: -80px;
        margin-bottom: -50px;
        
        
    }

}